@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font: Lato, sans-serif;
    font-weight: 300;
    background-color: black;
    color: rgb(20, 30, 55);
}


h1,
h2 {
    font-family: 'Bebas Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #FFFAF1;
}

/* Navbar and Logo */

#logo {
    float: left;
    font-size: 260%;
    margin-left: 20px;
}

#menu {
    letter-spacing: 4px;
    font-size: 120%;
    text-align: right;
    box-sizing: border-box;
}

#menu,
#logo {
    line-height: 50px;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 60px;
    text-align: right;

}

#menu .nav-text:hover {
    border-bottom: solid 1px #FFFAF1;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: black;
    opacity: .95;
    padding: 20px 0;
    box-sizing: border-box;
}

.nav-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 130%;
}

/* Entry Video */

#intro-video {
    height: 100%;
    width: 100%;
}

#container-content {
    height: 100vh;
    border-bottom: solid 2px #FFFAF1;
}



/* About Section */

#gap {
    margin-bottom: 90px;
}

#about {
    width: 100%;
    margin-top: 10vh;
    text-align: center;
    box-sizing: border-box;
}

.about-title {
    text-align: center;
    margin: 30px auto 30px auto;
    font-size: 10vh;
    font-weight: 100;
    color: #FFFAF1;
    font-style: italic;
    box-sizing: border-box;
}

#about-container {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    background: url(../images/wallpaper.jpeg);
    box-sizing: border-box;
}

.container-mini {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}


/* Heading font stylings */

.about-heading {
    font-size: 5vh;
    color: #FFFAF1;
    margin: 0px auto;
}

.about-text {
    font-family: 'Ubuntu', sans-serif;
}

/* About image alligned left content right */

.about-image-left {
    width: 35vw;
    float: left;
    margin: 0 6vw;
    clear: both;

}

.about-image-left img {
    width: 100%;
    height: 35vh;
    border: 2px solid #FFFAF1;

}

.about-content-right {
    width: 35vw;
    height: 40vh;
    text-align: center;
    margin: 0 6vw;
    letter-spacing: .5px;
    color: #FFFAF1;
    float: right;
}

.about-content-right h2 {
    width: 80%;
    color: #FFFAF1;
}

/* About image alligned right and content aligned left */

.about-image-right {
    width: 35vw;
    float: right;
    margin: 0 6vw;
    clear: both;

}

.about-image-right img {
    width: 100%;
    height: 35vh;
    border: 2px solid #FFFAF1;

}

.about-content-left {
    width: 35vw;
    height: 40vh;
    text-align: center;
    margin: 0 6vw;
    letter-spacing: 2px;
    color: #FFFAF1;
    float: left;
}

.about-content-left h2 {
    width: 80%;
    color: #FFFAF1;
}

.white-border {
    margin-top: 30px;
    border: 1px solid white;
}


/* Subscribe Section */

#subscribe {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: black;
}

#subscribe-content {
    width: 60%;
    display: inline-block;
    margin: 0 auto;
}


.subscribe-title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    padding-top: 60px;
    font-size: 350%;
    font-weight: 100;
    color: #FFFAF1;
}

.form-label {
    display: block;
    width: 100%;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: #FFFAF1;
}

.form-input {
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    height: 50px;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    background-color: black;
    border-bottom: solid 2px #FFFAF1;
    color: #FFFAF1;
    font-size: 20px;
    outline: none;

}

#sub-button {
    color: #FFFAF1;
    width: 100%;
    height: 80px;
    background: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

#sub-button:hover {
    background: #FFFAF1;
    color: black;
}

/* Social Section */

#socials {
    margin-top: 40px;
}

#socials-title {
    font-family: 'Bebas Neue', cursive;
    color: #FFFAF1;
    font-size: 30px;
    border-bottom: 2px solid #FFFAF1;
    margin-bottom: 20px;
}

#socials-list {
    width: 100%;
    display: inline-block;
    margin: 10px auto 30px auto;
}

#socials-list li {
    width: 24%;
    display: inline-block;
    margin: 0 auto;
    font-size: 40px;
}

footer h3 {
    color: #FFFAF1;
}

/* Responsiveness Mobile - Max 768px */

@media screen and (max-width:768px) {

    #navbar {
        position: absolute;
        display: inline-block;
        padding: 0;
        text-align: center;
        height: 6vh;
        margin: 0 auto;
        clear: both;

    }
    

    #menu {
        text-align: center;
        height: inherit;
    }

    #menu li {
        margin: 0 4vw;
    }

    #about {
        margin-top: 4vh;
    }


    #container-content {
        height: 40vh;
    }

    .container-mini {
        width: 100vw;
        display: inline-block;
        margin: 2.5vh auto 2.5vh auto;
    }


    .about-image-left {
        width: 60vw;
        margin: 0 auto;
        text-align: center;
        float: none;
    }


    .about-content-right {
        width: 100vw;
        height: 15vh;
        letter-spacing: .5px;
        color: #FFFAF1;
        font-size: .9rem;
        margin: 0 auto;
        text-align: center;
    }

    .white-border {
        display: none;
    }

    .about-image-right {
        width: 60vw;
        margin: 0 auto;
        text-align: center;
        float: none;
    }

    .about-image-left img {
        height: 25vh;
    }

    .about-image-right img {
        height: 25vh;
    }

    .about-content-left {
        width: 100vw;
        height: 15vh;
        letter-spacing: .5px;
        color: #FFFAF1;
        font-size: .9rem;
        margin: 0 auto;
        text-align: center;
    }



}

/* Responsiveness Fixes Mobile - Max 420px */


@media screen and (max-width:420px) {
    #navbar {
        position: absolute;
        display: inline-block;
        padding: 0;
        text-align: center;
        height: 15vh;
        margin: 0 auto;
        clear: both;


    }

    #logo {
        float: none;
        margin-left: 0;
    }

    #menu, #logo {
        line-height: 7.5vh;
    }

    #menu {
        text-align: center;
        height: 7.5vh;
    }

    #menu li {
        line-height: 7.5vh;
    }

    .container-mini {
        margin: 4vh auto;

    }

    #about {
        margin-top: 15vh;
    }

    .about-image-left {
        width: 60vw;
        height: 15vh;
    }

    .about-image-left img {
        width: 60vw;
        height: 15vh;
    }

    .about-content-right {
        font-size: .6rem;
        height: 20vh;
    }

    .about-image-right {
        width: 60vw;
        height: 15vh;
    }

    .about-image-right img {
        width: 60vw;
        height: 15vh;
    }

    .about-content-left {
        font-size: .6rem;
        height: 20vh;
    }

    .subscribe-title {
        margin-bottom: 4vw;
        padding-top: 1vw;
        font-size: 2rem;
    }

    .form-label {
        font-size: 1.4rem;
    }

    .form-input {
        font-size: 1.2rem;
    }

    #sub-button {
        font-size: 2rem;
    }

    #socials {
        margin-top: 0px;
    }

}

/* responsiveness 3840px and up (big screens) */

@media screen and (min-width: 3840px) {
    #navbar {
        height: 10vh;
    }

    #menu {
        font-size: 5rem;
    }

    #menu, #logo {
        line-height: 8vh;
    }

    #logo {
        font-size: 10rem;
    }

    .about-content-right {
        font-size: 3em;
    }

    .about-content-left {
        font-size: 3em;
    }

    .subscribe-title {
        font-size: 10rem;
    }

    .form-label {
        font-size: 5rem;
    }

    .form-input {
        font-size: 4rem;
    }

    #sub-button {
        font-size: 10rem;
        height: 8vh;
    }

    #socials {
        margin-top: 10vh;
    }

    #socials-title {
        font-size: 5rem;
    }

    #socials-list li {
        font-size: 10rem;
    }

    footer h3 {
        font-size: 2em;
    }
}